<%# app/views/admin/user_dietary_plans/create.turbo_stream.erb %>

<%= turbo_stream.update "modal_frame", "" %>

<%= turbo_stream.append "phase_#{resource.phase_id}_dietary_plans" do %>
  <%= render partial: "admin/user_dietary_plans/plan_card", object: resource, as: :user_dietary_plan %>
<% end %>

<%= turbo_stream.remove "phase_#{resource.phase_id}_no_dietary_plans" %>

<%= turbo_stream.prepend "flash_messages" do %>
  <div class="p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-shadow dark:text-green-400 border border-green-300 dark:border-green-800" role="alert">
    <span class="font-medium">Success!</span> Dietary Plan was successfully assigned.
  </div>
<% end %>
