<div class="relative overflow-x-auto bg-whiteish dark:bg-shadow shadow-xs rounded-xl border border-graphite dark:border-graphite mx-4">
  <table class="w-full text-sm text-left rtl:text-right text-graphite dark:text-muted">
    <thead class="text-sm text-blackish dark:text-whiteish bg-background-light dark:bg-graphite border-b border-shadow dark:border-graphite">
      <tr>
        <th scope="col" class="px-6 py-3 font-medium cursor-pointer hover:bg-background-light dark:hover:bg-shadow">
          <%= render "admin/application/sortable_header", collection_presenter: collection_presenter, attr_name: :id, label: "ID", page: page, collection_field_name: local_assigns[:collection_field_name] %>
        </th>
        <th scope="col" class="px-6 py-3 font-medium cursor-pointer hover:bg-background-light dark:hover:bg-shadow">
          <%= render "admin/application/sortable_header", collection_presenter: collection_presenter, attr_name: :name, page: page, collection_field_name: local_assigns[:collection_field_name] %>
        </th>
        <th scope="col" class="px-6 py-3 font-medium cursor-pointer hover:bg-background-light dark:hover:bg-shadow">
          <%= render "admin/application/sortable_header", collection_presenter: collection_presenter, attr_name: :muscle_group, label: "Muscle Group", page: page, collection_field_name: local_assigns[:collection_field_name] %>
        </th>
        <th scope="col" class="px-6 py-3 font-medium cursor-pointer hover:bg-background-light dark:hover:bg-shadow">
          <%= render "admin/application/sortable_header", collection_presenter: collection_presenter, attr_name: :video_link, label: "Video", page: page, collection_field_name: local_assigns[:collection_field_name] %>
        </th>
        <th scope="col" class="px-6 py-3 font-medium">
          <span class="sr-only">Edit</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <% resources.each do |resource| %>
        <tr class="bg-whiteish dark:bg-shadow border-b border-shadow dark:border-whiteish/50 hover:bg-background-light dark:hover:bg-shadow/50">
          <th scope="row" class="px-6 py-4 font-medium text-blackish dark:text-whiteish whitespace-nowrap">
            <%= resource.id %>
          </th>
          <td class="px-6 py-4 font-medium text-blackish dark:text-whiteish">
            <%= link_to resource.name, admin_exercise_path(resource), class: "hover:text-primary transition-colors" %>
          </td>
          <td class="px-6 py-4">
            <%= resource.muscle_group %>
          </td>
          <td class="px-6 py-4">
            <% if resource.video_link.present? %>
                <a href="<%= resource.video_link %>" target="_blank" class="text-primary hover:text-primary/80">
                    <span class="material-symbols-outlined">play_circle</span>
                </a>
            <% else %>
                <span class="text-muted">–</span>
            <% end %>
          </td>

          <td class="px-6 py-4 text-right">
            <%= link_to "Edit", edit_admin_exercise_path(resource), data: { turbo_frame: "modal_frame" }, class: "font-medium text-primary dark:text-primary hover:underline" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
