<%#
# Flash Partial

This partial renders flash messages on every page.

## Relevant Helpers:

- `flash`:
  Returns a hash,
  where the keys are the type of flash (alert, error, notice, etc)
  and the values are the message to be displayed.
%>

<% if flash.any? %>
  <div class="flashes space-y-2 mb-6">
    <% flash.each do |key, value| -%>
      <% next unless value.respond_to?(:html_safe) %>
      <%
        border_color = key.to_s == 'alert' ? 'border-blackish dark:border-whiteish' : 'border-primary'
        text_color = 'text-blackish dark:text-whiteish'
        bg_color = 'bg-whiteish dark:bg-shadow'
      %>
      <div class="flex items-center p-4 mb-4 text-sm <%= text_color %> rounded-r-lg shadow-sm <%= bg_color %> border-l-4 <%= border_color %>" role="alert">
         <span class="sr-only"><%= key.to_s.titleize %></span>
         <div>
             <%= sanitize(value, tags: %w[strong em a br span], attributes: %w[href class]) %>
         </div>
      </div>
    <% end -%>
  </div>
<% end %>
