<% content_for(:title) do %>
  <%= display_resource_name(page.resource_name) %>
<% end %>

<header class="flex items-center justify-between flex-column md:flex-row flex-wrap space-y-4 md:space-y-0 pb-4 bg-whiteish dark:bg-shadow">
  <h1 class="text-2xl font-bold text-blackish dark:text-whiteish" id="page-title">
    <%= content_for(:title) %>
  </h1>

  <%= content_for(:header_middle) %>

  <div class="flex items-center gap-2">
    <% if show_search_bar %>
      <%= render(
        "search",
        search_term: search_term,
        resource_name: display_resource_name(page.resource_name)
      ) %>
    <% end %>

    <div>
      <%= link_to(
        t(
          "administrate.actions.new_resource",
          name: display_resource_name(page.resource_name, singular: true).downcase
        ),
        [:new, namespace, page.resource_path.to_sym],
        class: "text-blackish bg-primary hover:bg-primary/90 focus:ring-4 focus:ring-primary/20 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-primary dark:hover:bg-primary/90 focus:outline-none dark:focus:ring-primary/20",
      ) if accessible_action?(new_resource, :new) %>
    </div>
  </div>

  <%= content_for(:header_last) %>
</header>
