<% content_for(:title) do %>
  Assign <%= @dietary_plan.name %>
<% end %>

<header class="admin-header" role="banner">
  <h1 class="admin-title">
    Assign <%= @dietary_plan.name %>
  </h1>
</header>

<section class="main-content__body">
  <%= form_with url: admin_assignments_path, local: true, class: "space-y-6 max-w-lg" do |f| %>
    <%= hidden_field_tag :dietary_plan_id, @dietary_plan.id %>

    <div>
      <%= f.label :user_id, "Select User" %>
      <%= f.select :user_id, @users.map { |u| [u.name, u.id] }, {}, class: "block w-full" %>
    </div>

    <div class="flex items-center gap-4 pt-4">
      <%= f.submit "Assign Plan", class: "button" %>
      <%= link_to "Cancel", admin_dietary_plan_path(@dietary_plan), class: "button button--link" %>
    </div>
  <% end %>
</section>
